

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

.btngrp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 20px 0;
}
button.btn.btn-primary {
    margin: 0 13px;
    padding: 3px 5px;
    border-radius: 5px !important;
}
.rowbutton {
    display: flex;
    flex-direction: column;
}
.sizee {
    margin: 15px !important;
    padding: 20px !important; 
    border-radius: 5px !important;
}

.b1{
    font-size: 10px;
}
.bg{
    background:#f4f4f4;
    padding: 20px;
}

@media(max-width:768px) {
    button.btn.btn-primary {
        margin: 3px 5px;
        padding: 0 9px;
        border-radius: 5px !important;
       
    }
    .b1{
        font-size: 8px;
    }
}
